In [6]:
import pandas as pd

# Load the original Excel file
file_path = '../data/europe/educ_edited.xlsx'
df_original = pd.read_excel(file_path)

In [7]:
# Remove the first 9 rows
df_remooved = df_original[9:].reset_index(drop=True)

# Set the first remaining row as column headers
df_remooved.columns = df_remooved.iloc[0]
df = df_remooved[1:].reset_index(drop=True)

# Rename the first column
first_col_name = df_remooved.columns[0]
df_remooved = df_remooved.rename(columns={first_col_name: 'University ↓ / Student →'})

# Remove the current first row (if needed)
df_remooved = df_remooved[2:].reset_index(drop=True)

# Remove rows 38 to 47 by index
df_remooved = df_remooved.drop(index=range(38, 48)).reset_index(drop=True)

df_remooved

,University ↓ / Student →,Belgium,NaN,Bulgaria,NaN,Czechia,NaN,Denmark,NaN,Germany,...,Gibraltar,NaN,Holy See,NaN,Monaco,NaN,Russia,NaN,San Marino,NaN
0,Belgium,:,m,166,NaN,62,NaN,36,NaN,747,...,0,NaN,0,NaN,3,NaN,284,NaN,2,NaN
1,Bulgaria,28,d,:,m,12,d,20,d,1813,...,0,d,0,d,0,d,325,d,0,d
2,Czechia,38,NaN,119,NaN,:,m,32,NaN,904,...,4,NaN,0,NaN,0,NaN,7781,NaN,0,NaN
3,Denmark,230,NaN,378,NaN,507,NaN,:,m,3248,...,0,NaN,0,NaN,1,NaN,126,NaN,1,NaN
4,Germany,3089,e,5410,e,1512,e,770,e,:,...,2,e,10,e,8,e,11024,e,2,e
5,Estonia,13,NaN,6,NaN,3,NaN,7,NaN,89,...,0,NaN,0,NaN,0,NaN,451,NaN,0,NaN
6,Ireland,231,NaN,77,NaN,325,NaN,51,NaN,1087,...,0,NaN,0,NaN,2,NaN,156,NaN,1,NaN
7,Greece,95,NaN,280,NaN,15,NaN,8,NaN,1294,...,0,NaN,0,NaN,0,NaN,583,NaN,0,NaN
8,Spain,640,NaN,440,NaN,122,NaN,94,NaN,2434,...,2,NaN,1,NaN,43,NaN,781,NaN,0,NaN
9,France,2530,bd,616,bd,334,bd,188,bd,4391,...,0,bd,0,bd,171,bd,3001,bd,3,bd
10,Croatia,24,NaN,8,NaN,39,NaN,1,NaN,517,...,0,NaN,0,NaN,1,NaN,23,NaN,0,NaN
11,Italy,530,NaN,440,NaN,103,NaN,70,NaN,1727,...,0,NaN,7,NaN,29,NaN,3047,NaN,513,NaN
12,Cyprus,20,NaN,66,NaN,7,NaN,6,NaN,151,...,0,NaN,0,NaN,0,NaN,366,NaN,0,NaN
13,Latvia,25,NaN,11,NaN,2,NaN,45,NaN,880,...,0,NaN,0,NaN,0,NaN,364,NaN,0,NaN
14,Lithuania,33,NaN,1,NaN,5,NaN,288,NaN,560,...,0,NaN,1,NaN,0,NaN,375,NaN,0,NaN
15,Luxembourg,362,NaN,33,NaN,11,NaN,27,NaN,494,...,1,NaN,0,NaN,0,NaN,77,NaN,0,NaN
16,Hungary,87,NaN,33,NaN,43,NaN,25,NaN,3341,...,0,NaN,0,NaN,0,NaN,562,NaN,0,NaN
17,Malta,22,NaN,23,NaN,18,NaN,12,NaN,726,...,0,NaN,1,NaN,0,NaN,40,NaN,0,NaN
18,Netherlands,3092,NaN,4046,NaN,513,NaN,424,NaN,18158,...,0,NaN,0,NaN,1,NaN,1058,NaN,0,NaN
19,Austria,278,NaN,1334,NaN,487,NaN,133,NaN,38178,...,0,NaN,10,NaN,2,NaN,1950,NaN,0,NaN
20,Poland,102,NaN,41,NaN,735,NaN,66,NaN,1210,...,0,NaN,1,NaN,0,NaN,1305,NaN,0,NaN
21,Portugal,244,NaN,21,NaN,9,NaN,18,NaN,1734,...,0,NaN,0,NaN,8,NaN,211,NaN,0,NaN
22,Romania,143,NaN,103,NaN,3,NaN,16,NaN,1713,...,0,NaN,0,NaN,2,NaN,58,NaN,0,NaN
23,Slovenia,:,C,:,C,:,C,:,C,:,...,:,C,:,C,:,C,:,C,:,C
24,Slovakia,5,NaN,14,NaN,3058,NaN,5,NaN,851,...,0,NaN,0,NaN,0,NaN,961,NaN,0,NaN
25,Finland,154,NaN,74,NaN,110,NaN,58,NaN,918,...,0,NaN,0,NaN,0,NaN,2026,NaN,0,NaN
26,Sweden,197,NaN,140,NaN,111,NaN,304,NaN,2483,...,0,NaN,0,NaN,2,NaN,292,NaN,0,NaN
27,Iceland,13,NaN,2,NaN,23,NaN,88,NaN,177,...,0,NaN,0,NaN,0,NaN,44,NaN,0,NaN
28,Liechtenstein,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
29,Norway,60,NaN,38,NaN,51,NaN,603,NaN,844,...,0,NaN,0,NaN,0,NaN,251,NaN,0,NaN
30,Switzerland,704,d,216,d,258,d,109,d,12325,...,0,d,1,d,45,d,1025,d,5,d
31,United Kingdom,2087,NaN,5360,NaN,2234,NaN,939,NaN,6143,...,727,NaN,0,NaN,112,NaN,2352,NaN,1,NaN
32,Bosnia and Herzegovina,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
33,Montenegro,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
34,North Macedonia,1,NaN,21,NaN,0,NaN,0,NaN,26,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
35,Albania,0,NaN,0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
36,Serbia,3,NaN,5,NaN,0,NaN,3,NaN,44,...,0,NaN,0,NaN,0,NaN,189,NaN,0,NaN
37,Türkiye,22,NaN,789,NaN,3,NaN,40,NaN,466,...,0,NaN,0,NaN,1,NaN,1161,NaN,0,NaN

In [8]:
# Keep only columns at even positions starting from index 0 and 1
# i.e., keep columns 0 and 1, drop 2, keep 3, drop 4, keep 5, etc. — then invert mask

# Create a list of column indices to drop: start at 2 and go every other one
columns_to_drop = df_remooved.columns[2::2]

# Drop those columns
df_remooved = df_remooved.drop(columns=columns_to_drop)

df_remooved

,University ↓ / Student →,Belgium,Bulgaria,Czechia,Denmark,Germany,Estonia,Ireland,Greece,Spain,...,Türkiye,Ukraine,Kosovo*,Andorra,Belarus,Gibraltar,Holy See,Monaco,Russia,San Marino
0,Belgium,:,166,62,36,747,31,74,411,924,...,771,389,24,3,43,0,0,3,284,2
1,Bulgaria,28,:,12,20,1813,3,399,4019,96,...,868,1771,182,1,28,0,0,0,325,0
2,Czechia,38,119,:,32,904,17,50,195,239,...,520,6529,40,0,1096,4,0,0,7781,0
3,Denmark,230,378,507,:,3248,121,111,812,1506,...,162,125,5,0,11,0,0,1,126,1
4,Germany,3089,5410,1512,770,:,365,990,4356,8252,...,16585,9038,824,10,1143,2,10,8,11024,2
5,Estonia,13,6,3,7,89,:,12,16,46,...,136,520,5,0,60,0,0,0,451,0
6,Ireland,231,77,325,51,1087,17,31,170,828,...,199,183,1,1,7,0,0,2,156,1
7,Greece,95,280,15,8,1294,5,5,:,62,...,132,290,0,0,44,0,0,0,583,0
8,Spain,640,440,122,94,2434,83,220,417,:,...,333,554,0,1226,66,2,1,43,781,0
9,France,2530,616,334,188,4391,72,404,2754,5170,...,2706,2250,100,294,198,0,0,171,3001,3
10,Croatia,24,8,39,1,517,4,17,18,173,...,37,115,43,0,4,0,0,1,23,0
11,Italy,530,440,103,70,1727,50,251,2113,2245,...,5398,1173,104,3,425,0,7,29,3047,513
12,Cyprus,20,66,7,6,151,1,10,4373,12,...,5,117,0,0,8,0,0,0,366,0
13,Latvia,25,11,2,45,880,79,34,2,24,...,240,1230,2,0,92,0,0,0,364,0
14,Lithuania,33,1,5,288,560,30,42,14,39,...,161,2152,45,1,1404,0,1,0,375,0
15,Luxembourg,362,33,11,27,494,5,11,69,114,...,41,45,4,0,8,1,0,0,77,0
16,Hungary,87,33,43,25,3341,9,258,74,514,...,934,1190,193,2,21,0,0,0,562,0
17,Malta,22,23,18,12,726,10,47,84,90,...,108,22,0,0,4,0,1,0,40,0
18,Netherlands,3092,4046,513,424,18158,500,1215,1408,2794,...,1237,665,24,0,82,0,0,1,1058,0
19,Austria,278,1334,487,133,38178,79,138,467,632,...,1286,2179,470,0,182,0,10,2,1950,0
20,Poland,102,41,735,66,1210,9,700,76,468,...,2892,39102,17,0,11146,0,1,0,1305,0
21,Portugal,244,21,9,18,1734,15,32,66,962,...,158,314,8,20,31,0,0,8,211,0
22,Romania,143,103,3,16,1713,3,77,1091,278,...,254,1082,8,0,10,0,0,2,58,0
23,Slovenia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
24,Slovakia,5,14,3058,5,851,2,43,178,268,...,53,10223,0,1,331,0,0,0,961,0
25,Finland,154,74,110,58,918,482,100,220,504,...,375,163,0,0,35,0,0,0,2026,0
26,Sweden,197,140,111,304,2483,94,98,771,772,...,368,115,22,1,38,0,0,2,292,0
27,Iceland,13,2,23,88,177,9,16,10,69,...,15,25,1,0,2,0,0,0,44,0
28,Liechtenstein,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
29,Norway,60,38,51,603,844,22,34,127,226,...,318,416,13,0,29,0,0,0,251,0
30,Switzerland,704,216,258,109,12325,52,75,795,1411,...,1116,614,164,7,71,0,1,45,1025,5
31,United Kingdom,2087,5360,2234,939,6143,756,4770,5260,7285,...,1447,520,0,8,92,727,0,112,2352,1
32,Bosnia and Herzegovina,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
33,Montenegro,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
34,North Macedonia,1,21,0,0,26,0,0,5,0,...,3384,5,1955,0,0,0,0,0,0,0
35,Albania,0,0,0,0,0,0,0,143,0,...,46,0,378,0,0,0,0,0,0,0
36,Serbia,3,5,0,3,44,0,3,66,10,...,40,11,0,1,64,0,0,0,189,0
37,Türkiye,22,789,3,40,466,5,10,1719,25,...,:,348,621,1,36,0,0,1,1161,0

In [9]:
# Replace ":" with "0" as string first to avoid silent downcasting warning
df_replaced = df_remooved.replace(':', '0')

# Convert all columns (except the first if it's text) to numbers
for col in df_replaced.columns[1:]:
    df_replaced[col] = pd.to_numeric(df_replaced[col], errors='coerce').fillna(0)
df_replaced

,University ↓ / Student →,Belgium,Bulgaria,Czechia,Denmark,Germany,Estonia,Ireland,Greece,Spain,...,Türkiye,Ukraine,Kosovo*,Andorra,Belarus,Gibraltar,Holy See,Monaco,Russia,San Marino
0,Belgium,0,166,62,36,747,31,74,411,924,...,771,389,24,3,43,0,0,3,284,2
1,Bulgaria,28,0,12,20,1813,3,399,4019,96,...,868,1771,182,1,28,0,0,0,325,0
2,Czechia,38,119,0,32,904,17,50,195,239,...,520,6529,40,0,1096,4,0,0,7781,0
3,Denmark,230,378,507,0,3248,121,111,812,1506,...,162,125,5,0,11,0,0,1,126,1
4,Germany,3089,5410,1512,770,0,365,990,4356,8252,...,16585,9038,824,10,1143,2,10,8,11024,2
5,Estonia,13,6,3,7,89,0,12,16,46,...,136,520,5,0,60,0,0,0,451,0
6,Ireland,231,77,325,51,1087,17,31,170,828,...,199,183,1,1,7,0,0,2,156,1
7,Greece,95,280,15,8,1294,5,5,0,62,...,132,290,0,0,44,0,0,0,583,0
8,Spain,640,440,122,94,2434,83,220,417,0,...,333,554,0,1226,66,2,1,43,781,0
9,France,2530,616,334,188,4391,72,404,2754,5170,...,2706,2250,100,294,198,0,0,171,3001,3
10,Croatia,24,8,39,1,517,4,17,18,173,...,37,115,43,0,4,0,0,1,23,0
11,Italy,530,440,103,70,1727,50,251,2113,2245,...,5398,1173,104,3,425,0,7,29,3047,513
12,Cyprus,20,66,7,6,151,1,10,4373,12,...,5,117,0,0,8,0,0,0,366,0
13,Latvia,25,11,2,45,880,79,34,2,24,...,240,1230,2,0,92,0,0,0,364,0
14,Lithuania,33,1,5,288,560,30,42,14,39,...,161,2152,45,1,1404,0,1,0,375,0
15,Luxembourg,362,33,11,27,494,5,11,69,114,...,41,45,4,0,8,1,0,0,77,0
16,Hungary,87,33,43,25,3341,9,258,74,514,...,934,1190,193,2,21,0,0,0,562,0
17,Malta,22,23,18,12,726,10,47,84,90,...,108,22,0,0,4,0,1,0,40,0
18,Netherlands,3092,4046,513,424,18158,500,1215,1408,2794,...,1237,665,24,0,82,0,0,1,1058,0
19,Austria,278,1334,487,133,38178,79,138,467,632,...,1286,2179,470,0,182,0,10,2,1950,0
20,Poland,102,41,735,66,1210,9,700,76,468,...,2892,39102,17,0,11146,0,1,0,1305,0
21,Portugal,244,21,9,18,1734,15,32,66,962,...,158,314,8,20,31,0,0,8,211,0
22,Romania,143,103,3,16,1713,3,77,1091,278,...,254,1082,8,0,10,0,0,2,58,0
23,Slovenia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Slovakia,5,14,3058,5,851,2,43,178,268,...,53,10223,0,1,331,0,0,0,961,0
25,Finland,154,74,110,58,918,482,100,220,504,...,375,163,0,0,35,0,0,0,2026,0
26,Sweden,197,140,111,304,2483,94,98,771,772,...,368,115,22,1,38,0,0,2,292,0
27,Iceland,13,2,23,88,177,9,16,10,69,...,15,25,1,0,2,0,0,0,44,0
28,Liechtenstein,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Norway,60,38,51,603,844,22,34,127,226,...,318,416,13,0,29,0,0,0,251,0
30,Switzerland,704,216,258,109,12325,52,75,795,1411,...,1116,614,164,7,71,0,1,45,1025,5
31,United Kingdom,2087,5360,2234,939,6143,756,4770,5260,7285,...,1447,520,0,8,92,727,0,112,2352,1
32,Bosnia and Herzegovina,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Montenegro,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,North Macedonia,1,21,0,0,26,0,0,5,0,...,3384,5,1955,0,0,0,0,0,0,0
35,Albania,0,0,0,0,0,0,0,143,0,...,46,0,378,0,0,0,0,0,0,0
36,Serbia,3,5,0,3,44,0,3,66,10,...,40,11,0,1,64,0,0,0,189,0
37,Türkiye,22,789,3,40,466,5,10,1719,25,...,0,348,621,1,36,0,0,1,1161,0

In [10]:
# Ulož do nového Excel souboru (přímo do dostupné složky)
output_path = '../data/europe/data_europe.xlsx'
df_replaced.to_excel(output_path, sheet_name='List1', index=False)

print("Soubor byl uložen jako:", output_path)

Soubor byl uložen jako: ../data/europe/data_europe.xlsx